p {
    font-family: 'Lora', serif;
    font-size: 20px;
}

body {
  padding: 0px;
  margin: 0px;
}

a {
  color: green;
}

a:hover {
  opacity: 0.6;
  color: green;
  text-decoration: none;
  transition: 0.2s;
}

h1,h2,h3,h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h2 {
  margin-top: 45px;
}

li {
  font-size: 20px;
}

.readMeter {
  position: fixed;
  height: 3px;
  background: green;
  width: 0%;
  transition: 0.2s;
  z-index: 500;
}

pre {
  font-size: 14px;
  font-family: 'Fira code', sans-serif;
}

.highlight {
  padding: 25px !important;
}

.highlight .line {
  color: white; 
}

.highlight .gutter {
  display: none;
}

.page-number {
  display: none;
} 

.next, .prev {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-number.current {
  background: #007bff;
  color:white;
}

pre {
  margin-bottom: 0px;
}